*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-style: italic;   
}
.dn{
    display: none;
}
.main{
    background-color: #4f3025;
    /* position: relative; */
    }
.pl{
    color: white;
    padding-left: 50px;
}
    .menu{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        background-color: #704535;
        position: fixed;
    }
    .logo{
        width: 20%;
    color: antiquewhite;
    font-size: 32px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}
.tags{
    width:25%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.menu a{
    text-decoration: none;
    color: white;
}
.hero{
    background-image: url(./WhatsApp\ Image\ 2025-04-18\ at\ 4.11.08\ PM.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: 600;
    padding-left:40px;
}
.hero h1{
    font-size: 108px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}
.hero h2{
    font-size: 70px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}
.hero h3{
    font-size: 50px;
    padding-left: 20px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}
.about-us{
    display: flex;
    /* width: 100vw; */
    padding: 50px 0px;
    height: 100vh;
    background-color: #4f3025;
}
.about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    text-align: justify;
    padding: 50px;
    color: bisque;
}
.about-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.mooncafe{
    font-style: italic;
    color:#e9d846;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);

}
.menu1{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    padding-top: 85px;
    font-size: 20px;

}
.menu1 p{
    color: white;
}
.menu1 h1{
    color: #e9d846;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}
.M2{
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
}
.A21{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20vw;
}
.B21{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
    width: 20vw;
}
.C21{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20vw;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    padding: 50px;
    color: bisque;
}   
a:hover{
    color: white;
    font-size: 20px;
    cursor:pointer;
}

.Res{
    height: 100vh;
    padding: 90px 40px;
    background-image: url("./22222top-view-workspace-with-succulent-cup-coffee__1_-removebg-preview.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Res h1{
    color: #e9d846;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

.Res h2{
    color: rgb(255, 255, 255);
    
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    /* align-items: center;
    justify-content: center; */
    padding-top: 40px;
    color: beige;
}

input{
    border-radius: 5px;
    background-color:#664537;
    border: 1px white solid;
    height: 5vh;
}
.res button{
    border-radius: 5px;
    background-color:#664537;
    color: white;
    border: 1px white solid;
    height: 5vh;
    width: 10vw;
    margin-top: 20px;
}
footer{
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    /* height: 55vh; */
    justify-content: space-between;
    padding-top: 60px;
}
.f1{
    padding-left: 80px;
}
.f2{
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
}
.f21{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 15vh; */
}
.f3{
    padding-left: 80px;
    margin-bottom: 10px;
}

.f3 button,.btn{
    padding: 10px 60px;
    background-color: #000000;
    color: white;
    border: 1px white solid;
    border-radius: 50px;
}
.f4{
    border-top: 2px white solid;
    padding: 20px;
    text-align: center;
}
.mf{
    display: flex;
}
.m1{
    width: 50%;
}
.m2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    margin: 10px 0px;
}
.menu-head-title{
    margin-bottom: 20px;
    color: white;
}

@media (max-width:1203px) {
    .tags{
        display: none;
    }
    .dn{
        display: block;
    }
    .f2{
        flex-direction: column;
    }
    .f2 p{
        margin-top: 20px;
    }
    .f21{
        margin-top: 20px;
    }
}
/* @media (max-width:592px) {
    .about-us{
        flex-direction: column-reverse;
    }
    .about-text{
        width: 100%;
    }
        .about-img{
            width: 100%;

        }
} */
